<%= form_with(model: mine_board) do |form| %>
  <% if service_errors&.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service_errors.count, "error") %> prohibited this mine_board from being saved:</h2>

      <ul>
        <% service_errors.each do |error| %>
          <li><%= error.message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <b><%= form.label :name %></b>
    <%= form.text_field :name %>
  </div>

  <div>
    <b><%= form.label :Email %></b>
    <%= form.text_field :creator_email %>
  </div>

  <div>
    <b><%= form.label :height %></b>
    <%= form.number_field :height %>
  </div>

  <div>
    <b><%= form.label :width %></b>
    <%= form.number_field :width %>
  </div>

  <div>
    <b><%= form.label :mines %></b>
    <%= form.number_field :mines %>
  </div>

  </br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
