<%= form_with(model: mine_board) do |form| %>
  <% if service_errors && service_errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service_errors.count, "error") %> prohibited this mine_board from being saved:</h2>

      <ul>
        <% service_errors.each do |error| %>
          <li><%= error.message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :Email %><br>
    <%= form.text_field :creator_email %>
  </div>

  <div>
    <%= form.label :height %><br>
    <%= form.number_field :height %>
  </div>

  <div>
    <%= form.label :width %><br>
    <%= form.number_field :width %>
  </div>

  <div>
    <%= form.label :mines %><br>
    <%= form.number_field :mines %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
