<p id="notice"><%= notice %></p>

<h1>Mine Boards</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Board name</td>
      <td>Creator</td>
      <td>Created Date</td>
    </tr>
    <% @mine_boards.each do |mine_board| %>
      <tr>
        <td><%= link_to mine_board.name, mine_board %></td>
        <td><%= mine_board.creator_email %></td>
        <td><%= mine_board.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @mine_boards %>

<br>

<%= link_to 'New Mine Board', new_mine_board_path %>
