<!DOCTYPE html>
<html>
  <head>
    <title>Minesweeper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    
  </head>

  <body>
    <div class="row">
      <div class="column side"></div>
      <div class="column container" style="background-color:#f1f1f1;">
        <nav>
          <ul class="nav">
            <li class=""><a href="/">Home</a></li>
            <li class=""><%= link_to 'Boards', mine_boards_path %></li>
            <li class=""><%= link_to 'New Mine Board', new_mine_board_path %></li>
          </ul>
        </nav>
        <%= yield %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <div class="column side"></div>
    </div>
  </body>
</html>
